Use webscraping with na.op.gg or a similar site to find a players "champion skill" features at the time a match is played. 
outputs this to a csv file.

In [2]:
import cassiopeia as cs
import pandas as pd

import random

from cassiopeia import riotapi
import time as t
todaysdate = t.strftime('%Y-%m-%d')

In [3]:
riotkey= input('riot api?')

riot api?RGAPI-a4df6fb2-f7bf-4c5c-a147-c7c74abf60b9

In [4]:
riotapi.set_region("NA")
riotapi.set_api_key(riotkey)

In [5]:
summoners_to_scrape = pd.read_csv('scrapetargets.csv')
summonersdf = pd.read_csv('champskill.csv')

In [6]:
summonersdf.head()

,Unnamed: 0,101A,101D,101K,101L,101W,102A,102D,102K,102L,...,9L,9W,AllA,AllD,AllK,AllL,AllW,date,summoner,summonername
0,summoner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19302712,Emon
1,83089576,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,...,NaN,NaN,0.0,0.0,0.0,243.0,311.0,2017-07-09,83089576,Chasér
2,2648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3.0,0.0,0.0,0.0,363.0,427.0,2017-07-09,2648,Pobelter
3,51409228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,58.0,105.0,2017-07-09,51409228,Hero Kenzan
4,77179274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,321.0,385.0,2017-07-09,77179274,C9 Ray

In [7]:
summoners_to_scrape.head()

,Unnamed: 0,Unnamed: 0.1,summoner id,Unnamed: 0.1.1,summoner name,summoner_id
0,0,0,83089576.0,0.0,Chasér,NaN
1,1,1,2648.0,1.0,Pobelter,NaN
2,2,2,NaN,2.0,Chasér,83089576.0
3,3,3,NaN,3.0,Linsaníty,21498922.0
4,4,4,NaN,4.0,Licorice,34983603.0

In [8]:
summoners_to_scrape.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [42]:
# run this cell if you have a prior build. 
summonersdf = pd.read_csv('champskill.csv')

In [90]:
# only run this cell if you don't have a data frame
#summonerslist = [{'summoner':0 , 'summonername': 'tryndjk'}]
#summonersdf = pd.DataFrame(summonerlist, index=['summoner'])

43

False

In [155]:

for num in range(summoners_to_scrape.shape[0]):
    if summoners_to_scrape['summoner id'][num] in summonersdf.index.values:
        break
    summoner = riotapi.get_summoner_by_id(summoners_to_scrape['summoner id'][num])
    sumstats = riotapi.get_ranked_stats(summoner)
    rankedchampsnum = len(list(sumstats.keys()))

    summonerstatdict = {'summoner':summoner.id , 'summonername': summoner.name, 'date': todaysdate}
    print('gathering stats on summoner'+summoner.name)
    for champnum in range(rankedchampsnum):
        if list(sumstats.keys())[champnum] is None:
            champdata = sumstats[list(sumstats.keys())[champnum]].data
            summonerstatdict['AllK'] = champdata.averageChampionsKilled
            summonerstatdict['AllD'] = champdata.averageNumDeaths
            summonerstatdict['AllA'] = champdata.averageAssists
            summonerstatdict['AllW'] = champdata.totalSessionsWon
            summonerstatdict['AllL'] = champdata.totalSessionsLost
        else:
            champdata = sumstats[list(sumstats.keys())[champnum]].data
            #print(champnum)
            champstr = str(list(sumstats.keys())[champnum].id)
            #print(champstr)
            summonerstatdict[champstr+'K'] = champdata.averageChampionsKilled
            summonerstatdict[champstr+'D'] = champdata.averageNumDeaths
            summonerstatdict[champstr+'A'] = champdata.averageAssists
            summonerstatdict[champstr+'W'] = champdata.totalSessionsWon
            summonerstatdict[champstr+'L'] = champdata.totalSessionsLost
    summonerdf = pd.DataFrame([summonerstatdict], index=[summoner.id])
    # we have a dataframe that represents a single summoner's skill. 
    
    #we concatenate the current list of summoners and skills with ourselves.     
    summonersdf = pd.concat([summonersdf, summonerdf])
#we exit the loop before we write the csv
summonersdf.to_csv('champskill.csv')

In [156]:
summonersdf.shape

(88, 688)

In [153]:
summonertest = riotapi.get_summoner_by_id

In [154]:
summoners_to_scrape.head()

   Unnamed: 0 pro handle summoner name  summoner id
0           0     chaser        Chasér     83089576
1           1   pobelter      Pobelter         2648
2           2   pobelter   Hero Kenzan     51409228
3           3        Ray        C9 Ray     77179274
4           4        Ray      C9 Sword     77799096

In [ ]:
# now to write some code so I don't scrape someone I've allready scraped.

In [150]:
summonersdf.shape

(88, 688)