In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from keras import backend as K
from keras.layers import Input, Embedding, merge

In [ ]:
from keras.regularizers import l2, l1
from keras.layers.core import Flatten, Dense, Dropout, Lambda
from keras.models import Sequential, Model
from keras.optimizers import SGD, RMSprop, Adam

In [4]:
matches = pd.read_csv('matches.csv')

In [5]:
matches.shape

(87448, 56)

In [6]:
matches['patch_version'].value_counts()

6.23.166.2676    69976
6.22.165.9605     3083
7.13.192.6794     2280
7.12.190.9002     1397
7.10.187.9675     1298
6.24.169.4424      985
7.11.189.942       969
7.9.186.8155       922
7.5.178.6844       907
7.2.174.829        834
7.6.181.2079       795
7.8.184.113        734
7.3.175.271        716
7.7.182.1428       522
7.1.172.6393       400
7.4.176.9828       344
7.7.183.8394       305
7.4.178.5050       276
7.1.171.6847       273
6.24.168.1268      148
7.9.186.1051       141
7.6.180.6903        73
7.2.173.3544        65
6.1.0.484            5
Name: patch_version, dtype: int64

Despite my best effors, I have a larqe quantity of 6.23 matches.

In [13]:
#matches_s6 = matches[matches['patch_version']=='6.23.166.2676']
#matches_s713= matches[matches['patch_version']=='7.13.192.6794']
#matches_s712= matches[matches['patch_version']=='7.12.190.9002']

In [79]:
matches_s6 = matches

The simplest way to look at this is a simple 5 v 5 test, ignoring player roles, lanes, or anything else. 
Let's do that.

In [80]:
# we set up a list of the traits we need
simplerpsl = ['team1_win', 'team2_win','player10champid','player9champid','player8champid','player7champid','player6champid','player5champid','player4champid','player3champid','player2champid','player1champid']
# and we can set up our y

In [81]:
#simple_rps_data= matches_s712[simplerpsl]
simple_rps_data= matches_s6[simplerpsl]

In [82]:
simple_rps_data['team1']=simple_rps_data['team1_win'].astype('int')
simple_rps_data['team2']=simple_rps_data['team2_win'].astype('int')
simple_rps_data.head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,team1_win,team2_win,player10champid,player9champid,player8champid,player7champid,player6champid,player5champid,player4champid,player3champid,player2champid,player1champid,team1,team2
0,True,False,4.0,114.0,40.0,236.0,64.0,42.0,245.0,412.0,34.0,13.0,1,0
1,False,True,41.0,134.0,42.0,25.0,421.0,429.0,111.0,24.0,74.0,36.0,0,1
2,False,True,40.0,76.0,24.0,117.0,236.0,17.0,98.0,25.0,13.0,203.0,0,1
3,False,True,40.0,27.0,4.0,421.0,236.0,12.0,203.0,67.0,81.0,432.0,0,1
4,False,True,42.0,114.0,203.0,40.0,81.0,12.0,98.0,7.0,236.0,76.0,0,1

In [83]:
simple_rps_data.head()

,team1_win,team2_win,player10champid,player9champid,player8champid,player7champid,player6champid,player5champid,player4champid,player3champid,player2champid,player1champid,team1,team2
0,True,False,4.0,114.0,40.0,236.0,64.0,42.0,245.0,412.0,34.0,13.0,1,0
1,False,True,41.0,134.0,42.0,25.0,421.0,429.0,111.0,24.0,74.0,36.0,0,1
2,False,True,40.0,76.0,24.0,117.0,236.0,17.0,98.0,25.0,13.0,203.0,0,1
3,False,True,40.0,27.0,4.0,421.0,236.0,12.0,203.0,67.0,81.0,432.0,0,1
4,False,True,42.0,114.0,203.0,40.0,81.0,12.0,98.0,7.0,236.0,76.0,0,1

In [84]:
champs = []
for playernum in range(1,11):
    playerstring= 'player'+str(playernum)+'champid'
    champs = champs + list(simple_rps_data[playerstring].unique())

In [85]:
champset = set(champs)
champs = list(champset)

In [86]:
champs2idx = {o:i for i,o in enumerate(champs)} # remove missing champions numbers and re-order

In [87]:
for playernum in range(1,11):
    playerstring= 'player'+str(playernum)+'champid'
    simple_rps_data[playerstring]=simple_rps_data[playerstring].apply(lambda x: champs2idx[x])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [88]:
simple_rps_data.head()

,team1_win,team2_win,player10champid,player9champid,player8champid,player7champid,player6champid,player5champid,player4champid,player3champid,player2champid,player1champid,team1,team2
0,True,False,3,95,39,120,59,41,123,128,33,12,1,0
1,False,True,40,106,41,24,130,132,92,23,64,35,0,1
2,False,True,39,66,23,97,120,16,82,24,12,117,0,1
3,False,True,39,26,3,130,120,11,117,60,71,133,0,1
4,False,True,41,95,117,39,71,11,82,6,120,66,0,1

In [89]:
n_hidden_factors = 16

In [90]:
msk1 = np.random.rand(len(simple_rps_data)) < 0.8 #training vs test set ratio This is the same structure I use in my anime_rec engine
trn1 = simple_rps_data[msk1]
val1 = simple_rps_data[~msk1]

In [91]:
trn1.head()

,team1_win,team2_win,player10champid,player9champid,player8champid,player7champid,player6champid,player5champid,player4champid,player3champid,player2champid,player1champid,team1,team2
0,True,False,3,95,39,120,59,41,123,128,33,12,1,0
1,False,True,40,106,41,24,130,132,92,23,64,35,0,1
2,False,True,39,66,23,97,120,16,82,24,12,117,0,1
3,False,True,39,26,3,130,120,11,117,60,71,133,0,1
7,True,False,116,119,59,37,70,17,69,128,106,52,1,0

In [92]:
val1.head()

,team1_win,team2_win,player10champid,player9champid,player8champid,player7champid,player6champid,player5champid,player4champid,player3champid,player2champid,player1champid,team1,team2
4,False,True,41,95,117,39,71,11,82,6,120,66,0,1
5,True,False,41,71,74,100,13,54,133,116,93,69,1,0
6,False,True,66,2,113,116,74,3,17,130,100,48,0,1
9,False,True,88,116,23,55,15,113,120,6,54,130,0,1
18,False,True,53,102,134,98,62,115,120,56,100,50,0,1

In [93]:
def embedding_input_champion(name, n_in, n_out, reg):
    inp = Input(shape=(1,), dtype='int64', name=name)
    return inp, Embedding(n_in, n_out, input_length=1, W_regularizer=l2(reg))(inp)

In [94]:
champion_in1, c1 = embedding_input_champion('champion_id1_in', 134, n_hidden_factors,0)
champion_in2, c2 = embedding_input_champion('champion_id2_in', 134, n_hidden_factors, 0)
champion_in3, c3 = embedding_input_champion('champion_id3_in', 134, n_hidden_factors, 0)
champion_in4, c4 = embedding_input_champion('champion_id4_in', 134, n_hidden_factors, 0)
champion_in5, c5 = embedding_input_champion('champion_id5_in', 134, n_hidden_factors, 0)
champion_in6, c6 = embedding_input_champion('champion_id6_in', 134, n_hidden_factors, 0)
champion_in7, c7 = embedding_input_champion('champion_id7_in', 134, n_hidden_factors, 0)
champion_in8, c8 = embedding_input_champion('champion_id8_in', 134, n_hidden_factors, 0)
champion_in9, c9 = embedding_input_champion('champion_id9_in', 134, n_hidden_factors, 0)
champion_in10, c10 = embedding_input_champion('champion_id10_in', 134, n_hidden_factors, 0)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: UserWarning: Update your `Embedding` call to the Keras 2 API: `Embedding(134, 16, input_length=1, embeddings_regularizer=<keras.reg...)`
  This is separate from the ipykernel package so we can avoid doing imports until

In [95]:
x = merge([c1,c2,c3,c4,c5,c6,c7,c8,c9,c10], mode='concat', name='All_Factors_on_one_layer')
x = Flatten()(x)
x = Dense(35, activation='sigmoid',name='Random_HF_Interactions2')(x)
x = Dropout(0.2,name='Prevent_overfit2')(x)
x = Dense(1,activation='sigmoid',name='Final_Interactions')(x)
nn1 = Model([champion_in1,champion_in2,champion_in3,champion_in4,champion_in5,champion_in6,champion_in7,champion_in8,champion_in9,champion_in10 ], x)
nn1.compile(Adam(0.001), loss='binary_crossentropy', metrics=['accuracy'])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: UserWarning: The `merge` function is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/keras/legacy/layers.py:458: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  name=name)

In [97]:
nn1.fit([trn1.player1champid,trn1.player2champid,trn1.player3champid,trn1.player4champid,trn1.player5champid,trn1.player6champid,trn1.player7champid,trn1.player8champid,trn1.player9champid,trn1.player10champid],trn1.team1, batch_size=450, epochs=25, 
       validation_data=([val1.player1champid,val1.player2champid,val1.player3champid,val1.player4champid,val1.player5champid,val1.player6champid,val1.player7champid,val1.player8champid,val1.player9champid,val1.player10champid],val1.team1))

Train on 69656 samples, validate on 17792 samples
Epoch 1/25
69656/69656 [==============================] - 1s - loss: 0.6775 - acc: 0.5725 - val_loss: 0.6940 - val_acc: 0.5328
Epoch 2/25
69656/69656 [==============================] - 1s - loss: 0.6776 - acc: 0.5721 - val_loss: 0.6937 - val_acc: 0.5329
Epoch 3/25
69656/69656 [==============================] - 1s - loss: 0.6769 - acc: 0.5724 - val_loss: 0.6939 - val_acc: 0.5316
Epoch 4/25
69656/69656 [==============================] - 1s - loss: 0.6768 - acc: 0.5711 - val_loss: 0.6939 - val_acc: 0.5328
Epoch 5/25
69656/69656 [==============================] - 1s - loss: 0.6764 - acc: 0.5739 - val_loss: 0.6939 - val_acc: 0.5324
Epoch 6/25
69656/69656 [==============================] - 1s - loss: 0.6760 - acc: 0.5728 - val_loss: 0.6942 - val_acc: 0.5325
Epoch 7/25
69656/69656 [==============================] - 1s - loss: 0.6755 - acc: 0.5726 - val_loss: 0.6941 - val_acc: 0.5332
Epoch 8/25
69656/69656 [==============================] - 1s - loss: 0.6752 - acc: 0.5725 - val_loss: 0.6941 - val_acc: 0.5324
Epoch 9/25
69656/69656 [==============================] - 1s - loss: 0.6745 - acc: 0.5730 - val_loss: 0.6952 - val_acc: 0.5328
Epoch 10/25
69656/69656 [==============================] - 1s - loss: 0.6738 - acc: 0.5735 - val_loss: 0.6951 - val_acc: 0.5323
Epoch 11/25
69656/69656 [==============================] - 1s - loss: 0.6734 - acc: 0.5726 - val_loss: 0.6954 - val_acc: 0.5317
Epoch 12/25
69656/69656 [==============================] - 1s - loss: 0.6729 - acc: 0.5733 - val_loss: 0.6956 - val_acc: 0.5307
Epoch 13/25
69656/69656 [==============================] - 1s - loss: 0.6720 - acc: 0.5740 - val_loss: 0.6969 - val_acc: 0.5325
Epoch 14/25
69656/69656 [==============================] - 1s - loss: 0.6717 - acc: 0.5730 - val_loss: 0.6963 - val_acc: 0.5315
Epoch 15/25
69656/69656 [==============================] - 1s - loss: 0.6712 - acc: 0.5733 - val_loss: 0.6975 - val_acc: 0.5306
Epoch 16/25
69656/69656 [==============================] - 1s - loss: 0.6704 - acc: 0.5737 - val_loss: 0.6977 - val_acc: 0.5295
Epoch 17/25
69656/69656 [==============================] - 1s - loss: 0.6701 - acc: 0.5739 - val_loss: 0.6987 - val_acc: 0.5295
Epoch 18/25
69656/69656 [==============================] - 1s - loss: 0.6697 - acc: 0.5732 - val_loss: 0.6991 - val_acc: 0.5306
Epoch 19/25
69656/69656 [==============================] - 1s - loss: 0.6689 - acc: 0.5739 - val_loss: 0.6991 - val_acc: 0.5284
Epoch 20/25
69656/69656 [==============================] - 1s - loss: 0.6684 - acc: 0.5744 - val_loss: 0.7006 - val_acc: 0.5302
Epoch 21/25
69656/69656 [==============================] - 1s - loss: 0.6678 - acc: 0.5731 - val_loss: 0.7017 - val_acc: 0.5283
Epoch 22/25
69656/69656 [==============================] - 1s - loss: 0.6676 - acc: 0.5716 - val_loss: 0.7019 - val_acc: 0.5268
Epoch 23/25
69656/69656 [==============================] - 1s - loss: 0.6671 - acc: 0.5732 - val_loss: 0.7025 - val_acc: 0.5266
Epoch 24/25
69656/69656 [==============================] - 1s - loss: 0.6667 - acc: 0.5726 - val_loss: 0.7028 - val_acc: 0.5266
Epoch 25/25
69656/69656 [==============================] - 1s - loss: 0.6662 - acc: 0.5740 - val_loss: 0.7035 - val_acc: 0.5274

In [99]:
def roleprep(df):
    for playernum in range(1,6):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
    for playernum in range(6,11):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
    return df

In [100]:
role_rps_data = matches_s6.apply(roleprep,axis=1)

In [101]:
role_rps_data.columns

Index(['MatchID', 'matchid', 'matchtime', 'patch_version', 'player10champid',
       'player10lane', 'player10role', 'player10summonerid',
       'player10summonername', 'player1champid', 'player1lane', 'player1role',
       'player1summonerid', 'player1summonername', 'player2champid',
       'player2lane', 'player2role', 'player2summonerid',
       'player2summonername', 'player3champid', 'player3lane', 'player3role',
       'player3summonerid', 'player3summonername', 'player4champid',
       'player4lane', 'player4role', 'player4summonerid',
       'player4summonername', 'player5champid', 'player5lane', 'player5role',
       'player5summonerid', 'player5summonername', 'player6champid',
       'player6lane', 'player6role', 'player6summonerid',
       'player6summonername', 'player7champid', 'player7lane', 'player7role',
       'player7summonerid', 'player7summonername', 'player8champid',
       'player8lane', 'player8role', 'player8summonerid',
       'player8summonername', 'player9champid', 'player9lane', 'player9role',
       'player9summonerid', 'player9summonername', 'team1DUO',
       'team1DUO_CARRY', 'team1DUO_SUPPORT', 'team1JUNGLE', 'team1MIDDLE',
       'team1NONE', 'team1SOLO', 'team1TOP', 'team1_win', 'team2DUO',
       'team2DUO_CARRY', 'team2DUO_SUPPORT', 'team2JUNGLE', 'team2MIDDLE',
       'team2NONE', 'team2SOLO', 'team2TOP', 'team2_win'],
      dtype='object')

In [102]:
role_rps_data.drop(['team1NONE','team2NONE','team1SOLO','team2SOLO','team1DUO','team2DUO'],axis=1, inplace=True)

In [103]:
role_rps_data.dropna(inplace=True)

In [104]:
role_rps_data['team1']=role_rps_data['team1_win'].astype('int')
role_rps_data['team2']=role_rps_data['team2_win'].astype('int')
role_rps_data.head()

,MatchID,matchid,matchtime,patch_version,player10champid,player10lane,player10role,player10summonerid,player10summonername,player1champid,...,team1TOP,team1_win,team2DUO_CARRY,team2DUO_SUPPORT,team2JUNGLE,team2MIDDLE,team2TOP,team2_win,team1,team2
0,2.078664e+09,2078663920,2016-01-25 05:06:24.884000,6.1.0.484,4.0,MIDDLE,SOLO,21498922.0,TR Linsanity,13.0,...,34.0,True,236.0,40.0,64.0,4.0,114.0,False,1,0
1,2.078608e+09,2078608407,2016-01-25 04:25:30.551000,6.1.0.484,41.0,TOP,SOLO,28039649.0,Chunkylol,36.0,...,24.0,False,42.0,25.0,421.0,134.0,41.0,True,0,1
2,2.078592e+09,2078592445,2016-01-25 03:52:01.302000,6.1.0.484,40.0,BOTTOM,DUO_SUPPORT,19806051.0,TR Strife,203.0,...,98.0,False,236.0,40.0,76.0,117.0,24.0,True,0,1
4,2.078438e+09,2078437727,2016-01-25 02:41:39.662000,6.1.0.484,42.0,MIDDLE,SOLO,22005573.0,caaaaaaaaaaaaake,76.0,...,98.0,False,81.0,40.0,203.0,42.0,114.0,True,0,1
5,2.544287e+09,2544286770,2017-07-09 23:12:53.926000,7.13.192.6794,42.0,MIDDLE,SOLO,19967304.0,Shiphtur,79.0,...,59.0,True,81.0,14.0,121.0,42.0,84.0,False,1,0

In [105]:
role_rps_data.columns

Index(['MatchID', 'matchid', 'matchtime', 'patch_version', 'player10champid',
       'player10lane', 'player10role', 'player10summonerid',
       'player10summonername', 'player1champid', 'player1lane', 'player1role',
       'player1summonerid', 'player1summonername', 'player2champid',
       'player2lane', 'player2role', 'player2summonerid',
       'player2summonername', 'player3champid', 'player3lane', 'player3role',
       'player3summonerid', 'player3summonername', 'player4champid',
       'player4lane', 'player4role', 'player4summonerid',
       'player4summonername', 'player5champid', 'player5lane', 'player5role',
       'player5summonerid', 'player5summonername', 'player6champid',
       'player6lane', 'player6role', 'player6summonerid',
       'player6summonername', 'player7champid', 'player7lane', 'player7role',
       'player7summonerid', 'player7summonername', 'player8champid',
       'player8lane', 'player8role', 'player8summonerid',
       'player8summonername', 'player9champid', 'player9lane', 'player9role',
       'player9summonerid', 'player9summonername', 'team1DUO_CARRY',
       'team1DUO_SUPPORT', 'team1JUNGLE', 'team1MIDDLE', 'team1TOP',
       'team1_win', 'team2DUO_CARRY', 'team2DUO_SUPPORT', 'team2JUNGLE',
       'team2MIDDLE', 'team2TOP', 'team2_win', 'team1', 'team2'],
      dtype='object')

In [106]:
role_rps_columnlist = ['team1DUO_CARRY',
       'team1DUO_SUPPORT', 'team1JUNGLE', 'team1MIDDLE', 'team1TOP',
       'team1_win', 'team2DUO_CARRY', 'team2DUO_SUPPORT', 'team2JUNGLE',
       'team2MIDDLE', 'team2TOP', 'team2_win']

In [107]:
columnlist=['team1DUO_CARRY','team1DUO_SUPPORT', 'team1JUNGLE', 'team1MIDDLE', 'team1TOP', 'team2DUO_CARRY', 'team2DUO_SUPPORT', 'team2JUNGLE','team2MIDDLE', 'team2TOP']

In [108]:
for playernum in range(0,10):
    playerstring= columnlist[playernum]
    role_rps_data[playerstring]=role_rps_data[playerstring].apply(lambda x: champs2idx[x])

In [109]:
#we are re-using out same champion mappings, and now we have champions back to 0-133
msk2 = np.random.rand(len(role_rps_data)) < 0.8 #training vs test set ratio This is the same structure I use in my anime_rec engine
trn2 = role_rps_data[msk2]
val2 = role_rps_data[~msk2]

In [110]:
x = merge([c1,c2,c3,c4,c5,c6,c7,c8,c9,c10], mode='concat', name='All_Factors_on_one_layer')
x = Flatten()(x)
x = Dense(45, activation='sigmoid',name='Random_HF_Interactions2')(x)
x = Dropout(0.9,name='Prevent_overfit2')(x)
x = Dense(1,activation='sigmoid',name='Final_Interactions')(x)
nn2 = Model([champion_in1,champion_in2,champion_in3,champion_in4,champion_in5,champion_in6,champion_in7,champion_in8,champion_in9,champion_in10 ], x)
nn2.compile(Adam(0.001), loss='binary_crossentropy', metrics=['accuracy'])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: UserWarning: The `merge` function is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/keras/legacy/layers.py:458: UserWarning: The `Merge` layer is deprecated and will be removed after 08/2017. Use instead layers from `keras.layers.merge`, e.g. `add`, `concatenate`, etc.
  name=name)

In [111]:
trn2.columns

Index(['MatchID', 'matchid', 'matchtime', 'patch_version', 'player10champid',
       'player10lane', 'player10role', 'player10summonerid',
       'player10summonername', 'player1champid', 'player1lane', 'player1role',
       'player1summonerid', 'player1summonername', 'player2champid',
       'player2lane', 'player2role', 'player2summonerid',
       'player2summonername', 'player3champid', 'player3lane', 'player3role',
       'player3summonerid', 'player3summonername', 'player4champid',
       'player4lane', 'player4role', 'player4summonerid',
       'player4summonername', 'player5champid', 'player5lane', 'player5role',
       'player5summonerid', 'player5summonername', 'player6champid',
       'player6lane', 'player6role', 'player6summonerid',
       'player6summonername', 'player7champid', 'player7lane', 'player7role',
       'player7summonerid', 'player7summonername', 'player8champid',
       'player8lane', 'player8role', 'player8summonerid',
       'player8summonername', 'player9champid', 'player9lane', 'player9role',
       'player9summonerid', 'player9summonername', 'team1DUO_CARRY',
       'team1DUO_SUPPORT', 'team1JUNGLE', 'team1MIDDLE', 'team1TOP',
       'team1_win', 'team2DUO_CARRY', 'team2DUO_SUPPORT', 'team2JUNGLE',
       'team2MIDDLE', 'team2TOP', 'team2_win', 'team1', 'team2'],
      dtype='object')

In [112]:
nn2.fit([trn2.team1TOP,trn2.team2MIDDLE,trn2.team1JUNGLE,trn2.team1DUO_SUPPORT,trn2.team2DUO_CARRY,trn2.team2TOP,trn2.team2MIDDLE,trn2.team2JUNGLE,trn2.team2DUO_SUPPORT,trn2.team2DUO_CARRY],trn2.team1, batch_size=450, epochs=25, 
       validation_data=([val2.team1TOP,val2.team2MIDDLE,val2.team1JUNGLE,val2.team1DUO_SUPPORT,val2.team2DUO_CARRY,val2.team2TOP,val2.team2MIDDLE,val2.team2JUNGLE,val2.team2DUO_SUPPORT,val2.team2DUO_CARRY],val2.team1))

Train on 57745 samples, validate on 14188 samples
Epoch 1/25
57745/57745 [==============================] - 2s - loss: 0.8915 - acc: 0.5039 - val_loss: 0.6930 - val_acc: 0.5069
Epoch 2/25
57745/57745 [==============================] - 1s - loss: 0.7142 - acc: 0.5080 - val_loss: 0.6923 - val_acc: 0.5084
Epoch 3/25
57745/57745 [==============================] - 1s - loss: 0.6986 - acc: 0.5044 - val_loss: 0.6923 - val_acc: 0.5082
Epoch 4/25
57745/57745 [==============================] - 1s - loss: 0.6944 - acc: 0.5140 - val_loss: 0.6922 - val_acc: 0.5089
Epoch 5/25
57745/57745 [==============================] - 1s - loss: 0.6932 - acc: 0.5131 - val_loss: 0.6922 - val_acc: 0.5075
Epoch 6/25
57745/57745 [==============================] - 1s - loss: 0.6928 - acc: 0.5125 - val_loss: 0.6921 - val_acc: 0.5087
Epoch 7/25
57745/57745 [==============================] - 1s - loss: 0.6919 - acc: 0.5169 - val_loss: 0.6919 - val_acc: 0.5108
Epoch 8/25
57745/57745 [==============================] - 1s - loss: 0.6916 - acc: 0.5206 - val_loss: 0.6918 - val_acc: 0.5123
Epoch 9/25
57745/57745 [==============================] - 1s - loss: 0.6913 - acc: 0.5194 - val_loss: 0.6917 - val_acc: 0.5101
Epoch 10/25
57745/57745 [==============================] - 1s - loss: 0.6911 - acc: 0.5215 - val_loss: 0.6914 - val_acc: 0.5133
Epoch 11/25
57745/57745 [==============================] - 1s - loss: 0.6906 - acc: 0.5216 - val_loss: 0.6911 - val_acc: 0.5168
Epoch 12/25
57745/57745 [==============================] - 1s - loss: 0.6897 - acc: 0.5272 - val_loss: 0.6906 - val_acc: 0.5241
Epoch 13/25
57745/57745 [==============================] - 1s - loss: 0.6899 - acc: 0.5272 - val_loss: 0.6905 - val_acc: 0.5245
Epoch 14/25
57745/57745 [==============================] - 1s - loss: 0.6890 - acc: 0.5281 - val_loss: 0.6902 - val_acc: 0.5295
Epoch 15/25
57745/57745 [==============================] - 1s - loss: 0.6883 - acc: 0.5339 - val_loss: 0.6898 - val_acc: 0.5321
Epoch 16/25
57745/57745 [==============================] - 1s - loss: 0.6884 - acc: 0.5325 - val_loss: 0.6897 - val_acc: 0.5329
Epoch 17/25
57745/57745 [==============================] - 1s - loss: 0.6881 - acc: 0.5336 - val_loss: 0.6895 - val_acc: 0.5343
Epoch 18/25
57745/57745 [==============================] - 1s - loss: 0.6873 - acc: 0.5337 - val_loss: 0.6894 - val_acc: 0.5345
Epoch 19/25
57745/57745 [==============================] - 1s - loss: 0.6871 - acc: 0.5378 - val_loss: 0.6894 - val_acc: 0.5349
Epoch 20/25
57745/57745 [==============================] - 1s - loss: 0.6864 - acc: 0.5405 - val_loss: 0.6895 - val_acc: 0.5347
Epoch 21/25
57745/57745 [==============================] - 1s - loss: 0.6865 - acc: 0.5377 - val_loss: 0.6894 - val_acc: 0.5368
Epoch 22/25
57745/57745 [==============================] - 1s - loss: 0.6859 - acc: 0.5414 - val_loss: 0.6894 - val_acc: 0.5352
Epoch 23/25
57745/57745 [==============================] - 1s - loss: 0.6860 - acc: 0.5409 - val_loss: 0.6895 - val_acc: 0.5352
Epoch 24/25
57745/57745 [==============================] - 1s - loss: 0.6855 - acc: 0.5407 - val_loss: 0.6894 - val_acc: 0.5364
Epoch 25/25
57745/57745 [==============================] - 1s - loss: 0.6852 - acc: 0.5394 - val_loss: 0.6896 - val_acc: 0.5343

So we can get from 53 percent to 55 percent, which is below our goal of giving valuable insight. 
With our unbalanced dataset, we can get results from patch 6.23 or all patches. 
Neither changes the outcomes significantly.

In [113]:
from keras.layers import LSTM, Convolution1D, Flatten, Dropout, Dense
from keras.layers.embeddings import Embedding
from keras.models import Sequential

players_per_game = 10
embedding_vecor_length = 16
model = Sequential()
model.add(Embedding(133, embedding_vecor_length, input_length=players_per_game))
model.add(Convolution1D(64, 3, border_mode='same'))
model.add(Convolution1D(32, 3, border_mode='same'))
model.add(Convolution1D(16, 3, border_mode='same'))
model.add(Flatten())
model.add(Dropout(0.2))
model.add(Dense(180,activation='sigmoid'))
model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: UserWarning: Update your `Conv1D` call to the Keras 2 API: `Conv1D(64, 3, padding="same")`
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: UserWarning: Update your `Conv1D` call to the Keras 2 API: `Conv1D(32, 3, padding="same")`
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:11: UserWarning: Update your `Conv1D` call to the Keras 2 API: `Conv1D(16, 3, padding="same")`
  # This is added back by InteractiveShellApp.init_path()

In [114]:
X= np.array([trn1.player1champid,trn1.player2champid,trn1.player3champid,trn1.player4champid,trn1.player5champid,trn1.player6champid,trn1.player7champid,trn1.player8champid,trn1.player9champid,trn1.player10champid])
             
X_val=np.array([val1.player1champid,val1.player2champid,val1.player3champid,val1.player4champid,val1.player5champid,val1.player6champid,val1.player7champid,val1.player8champid,val1.player9champid,val1.player10champid])

In [115]:
nn1.fit([trn1.player1champid,trn1.player2champid,trn1.player3champid,trn1.player4champid,trn1.player5champid,trn1.player6champid,trn1.player7champid,trn1.player8champid,trn1.player9champid,trn1.player10champid],trn1.team1, batch_size=150, epochs=25, 
       validation_data=([val1.player1champid,val1.player2champid,val1.player3champid,val1.player4champid,val1.player5champid,val1.player6champid,val1.player7champid,val1.player8champid,val1.player9champid,val1.player10champid],val1.team1))

Train on 69656 samples, validate on 17792 samples
Epoch 1/25
69656/69656 [==============================] - 5s - loss: 0.6795 - acc: 0.5615 - val_loss: 0.6987 - val_acc: 0.5243
Epoch 2/25
69656/69656 [==============================] - 4s - loss: 0.6729 - acc: 0.5662 - val_loss: 0.7005 - val_acc: 0.5253
Epoch 3/25
69656/69656 [==============================] - 4s - loss: 0.6698 - acc: 0.5678 - val_loss: 0.7012 - val_acc: 0.5233
Epoch 4/25
69656/69656 [==============================] - 4s - loss: 0.6677 - acc: 0.5682 - val_loss: 0.7039 - val_acc: 0.5222
Epoch 5/25
69656/69656 [==============================] - 4s - loss: 0.6667 - acc: 0.5686 - val_loss: 0.7053 - val_acc: 0.5235
Epoch 6/25
69656/69656 [==============================] - 4s - loss: 0.6656 - acc: 0.5699 - val_loss: 0.7102 - val_acc: 0.5231
Epoch 7/25
69656/69656 [==============================] - 4s - loss: 0.6648 - acc: 0.5694 - val_loss: 0.7088 - val_acc: 0.5225
Epoch 8/25
69656/69656 [==============================] - 4s - loss: 0.6641 - acc: 0.5685 - val_loss: 0.7089 - val_acc: 0.5232
Epoch 9/25
69656/69656 [==============================] - 4s - loss: 0.6634 - acc: 0.5688 - val_loss: 0.7119 - val_acc: 0.5232
Epoch 10/25
69656/69656 [==============================] - 4s - loss: 0.6631 - acc: 0.5699 - val_loss: 0.7134 - val_acc: 0.5225
Epoch 11/25
69656/69656 [==============================] - 4s - loss: 0.6625 - acc: 0.5683 - val_loss: 0.7130 - val_acc: 0.5197
Epoch 12/25
69656/69656 [==============================] - 4s - loss: 0.6618 - acc: 0.5675 - val_loss: 0.7162 - val_acc: 0.5205
Epoch 13/25
69656/69656 [==============================] - 4s - loss: 0.6613 - acc: 0.5687 - val_loss: 0.7159 - val_acc: 0.5189
Epoch 14/25
69656/69656 [==============================] - 4s - loss: 0.6608 - acc: 0.5691 - val_loss: 0.7167 - val_acc: 0.5184
Epoch 15/25
69656/69656 [==============================] - 4s - loss: 0.6604 - acc: 0.5689 - val_loss: 0.7171 - val_acc: 0.5183
Epoch 16/25
69656/69656 [==============================] - 4s - loss: 0.6598 - acc: 0.5691 - val_loss: 0.7161 - val_acc: 0.5189
Epoch 17/25
69656/69656 [==============================] - 4s - loss: 0.6593 - acc: 0.5693 - val_loss: 0.7184 - val_acc: 0.5174
Epoch 18/25
69656/69656 [==============================] - 4s - loss: 0.6589 - acc: 0.5692 - val_loss: 0.7202 - val_acc: 0.5178
Epoch 19/25
69656/69656 [==============================] - 4s - loss: 0.6583 - acc: 0.5697 - val_loss: 0.7227 - val_acc: 0.5180
Epoch 20/25
69656/69656 [==============================] - 4s - loss: 0.6576 - acc: 0.5707 - val_loss: 0.7249 - val_acc: 0.5170
Epoch 21/25
69656/69656 [==============================] - 4s - loss: 0.6568 - acc: 0.5727 - val_loss: 0.7252 - val_acc: 0.5175
Epoch 22/25
69656/69656 [==============================] - 4s - loss: 0.6569 - acc: 0.5712 - val_loss: 0.7262 - val_acc: 0.5169
Epoch 23/25
69656/69656 [==============================] - 4s - loss: 0.6564 - acc: 0.5711 - val_loss: 0.7271 - val_acc: 0.5160
Epoch 24/25
69656/69656 [==============================] - 4s - loss: 0.6559 - acc: 0.5736 - val_loss: 0.7288 - val_acc: 0.5167
Epoch 25/25
69656/69656 [==============================] - 4s - loss: 0.6554 - acc: 0.5739 - val_loss: 0.7288 - val_acc: 0.5180

As a baseline, we are getting 53 percent accuracy using champions and their interactions, but we are overfitting hard. 
Let's test with champions in order of role.

In [116]:
role_data_t1 = matches_sixtwothree

NameError: name 'matches_sixtwothree' is not defined

In [ ]:
def roleprep(df):
    for playernum in range(1,6):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
    for playernum in range(6,11):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
    return df

In [ ]:
testdf= role_data_t1.head()

In [ ]:
testdf.apply(roleprep, axis=1)

SO with that test, we are capale of moving things from lane to lane.

In [ ]:
role_data =role_data_t1.apply(roleprep, axis=1)

In [ ]:
role_data.head()

We can re-use the architecutre from before.

In [ ]:
x = merge([c1,c2,c3,c4,c5,c6,c7,c8,c9,c10], mode='concat', name='All_Factors_on_one_layer')
x = Flatten()(x)
x = Dense(45, activation='relu',name='Random_HF_Interactions')(x)
x = Dropout(0.50,name='Prevent_overfit1')(x)
x = Dense(45, activation='sigmoid',name='Random_HF_Interactions2')(x)
x = Dropout(0.50,name='Prevent_overfit2')(x)
x = Dense(1,activation='sigmoid',name='Final_Interactions')(x)
nn2 = Model([champion_in1,champion_in2,champion_in3,champion_in4,champion_in5,champion_in6,champion_in7,champion_in8,champion_in9,champion_in10 ], x)
nn2.compile(Adam(0.001), loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
role_data.columns

In [ ]:
role_data.drop(['team1NONE','team2NONE','team1SOLO','team2SOLO','team1DUO','team2DUO'],axis=1, inplace=True)

In [ ]:
role_data['team1']=role_data['team1_win'].astype('int')
role_data['team2']=role_data['team2_win'].astype('int')

In [ ]:
role_data.dropna(inplace=True)
columnlist=['team1DUO_CARRY','team1DUO_SUPPORT', 'team1JUNGLE', 'team1MIDDLE', 'team1TOP', 'team2DUO_CARRY', 'team2DUO_SUPPORT', 'team2JUNGLE','team2MIDDLE', 'team2TOP']

In [ ]:
for playernum in range(0,10):
    playerstring= columnlist[playernum]
    role_data[playerstring]=role_data[playerstring].apply(lambda x: champs2idx[x])

In [ ]:
msk2 = np.random.rand(len(role_data)) < 0.8 #training vs test set ratio This is the same structure I use in my anime_rec engine
trn1 = role_data[msk2]
val1 = role_data[~msk2]

In [ ]:
role_data.columns

In [ ]:
nn2.fit([trn1.team1TOP,trn1.team2MIDDLE,trn1.team1JUNGLE,trn1.team1DUO_SUPPORT,trn1.team2DUO_CARRY,trn1.team2TOP,trn1.team2MIDDLE,trn1.team2JUNGLE,trn1.team2DUO_SUPPORT,trn1.team2DUO_CARRY],trn1.team1, batch_size=150, epochs=25, 
       validation_data=([val1.team1TOP,val1.team2MIDDLE,val1.team1JUNGLE,val1.team1DUO_SUPPORT,val1.team2DUO_CARRY,val1.team2TOP,val1.team2MIDDLE,val1.team2JUNGLE,val1.team2DUO_SUPPORT,val1.team2DUO_CARRY],val1.team1))

In [ ]:
rpst2list = ['player10lane','player10champid','player9lane','player9champid','player8lane','player8champid','player7lane','player7champid','player6lane','player6champid','team2_win']
rpst1list = ['player1lane','player1champid','player2lane','player2champid','player3lane','player3champid','player4lane','player4champid','player5lane','player5champid','team1_win']

In [ ]:
rps_t1 = matches_sixtwothree[rpst1list]
rps_t2 = matches_sixtwothree[rpst2list]

In [ ]:
rps_t2