Use webscraping with na.op.gg or a similar site to find a players "champion skill" features at the time a match is played. 
outputs this to a csv file.

In [199]:
import cassiopeia as cs
import pandas as pd

import random

from cassiopeia import riotapi
import time as t
todaysdate = t.strftime('%Y-%m-%d')

In [200]:
riotkey= input('riot api?')

riot api?RGAPI-a4df6fb2-f7bf-4c5c-a147-c7c74abf60b9

In [201]:
riotapi.set_region("NA")
riotapi.set_api_key(riotkey)

In [218]:
summoners_to_scrape = pd.read_csv('scrapetargets.csv', )
summonersdf = pd.read_csv('champskill.csv', index_col='summoner')
summoners_to_scrape =pd.read_csv ('summoner_ids.csv', index_col='summoner_id')

In [219]:
summoners_to_scrape.head()

             iterindex pro handle summoner name
summoner_id
83089576             0     chaser        Chasér
2648                 1   pobelter      Pobelter
51409228             2   pobelter   Hero Kenzan
77179274             3        Ray        C9 Ray
77799096             4        Ray      C9 Sword

In [166]:
summoners_to_scrape.drop(['Unnamed: 0'], axis=1, inplace= True)

In [220]:
summonersdf.head()

,Unnamed: 0,Unnamed: 0.1,101A,101D,101K,101L,101W,102A,102D,102K,...,9K,9L,9W,AllA,AllD,AllK,AllL,AllW,date,summonername
summoner,,,,,,,,,,,,,,,,,,,,,
19302712,0,summoner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emon
83089576,1,83089576,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,243.0,311.0,2017-07-09,Chasér
2648,2,2648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,3.0,0.0,0.0,0.0,363.0,427.0,2017-07-09,Pobelter
51409228,3,51409228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,58.0,105.0,2017-07-09,Hero Kenzan
77179274,4,77179274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,321.0,385.0,2017-07-09,C9 Ray

In [223]:
scrapelist = summoners_to_scrape.index

In [224]:
type(scrapelist)

pandas.core.indexes.numeric.Int64Index

In [226]:
scrapelist[2]

51409228

In [14]:
# run this cell if you have a prior build. 
summonersdf = pd.read_csv('champskill.csv')

In [90]:
# only run this cell if you don't have a data frame
#summonerslist = [{'summoner':0 , 'summonername': 'tryndjk'}]
#summonersdf = pd.DataFrame(summonerlist, index=['summoner'])

43

False

In [214]:
summoners_to_scrape['summoner_id'][0] in summonersdf.summoner.values
summoner = riotapi.get_summoner_by_id(int(summoners_to_scrape['summoner_id'][10]))

In [213]:
sumstats =riotapi.get_ranked_stats(summoner)

In [230]:

for num in range(summoners_to_scrape.shape[0]):
    if scrapelist[num]  in summonersdf.index.values:
        continue

    summoner = riotapi.get_summoner_by_id(scrapelist[num])
    sumstats = riotapi.get_ranked_stats(summoner)
    rankedchampsnum = len(list(sumstats.keys()))

    summonerstatdict = {'summoner':summoner.id , 'summonername': summoner.name, 'date': todaysdate}
    print('gathering stats on summoner'+summoner.name)
    for champnum in range(rankedchampsnum):
        if list(sumstats.keys())[champnum] is None:
            champdata = sumstats[list(sumstats.keys())[champnum]].data
            summonerstatdict['AllK'] = champdata.averageChampionsKilled
            summonerstatdict['AllD'] = champdata.averageNumDeaths
            summonerstatdict['AllA'] = champdata.averageAssists
            summonerstatdict['AllW'] = champdata.totalSessionsWon
            summonerstatdict['AllL'] = champdata.totalSessionsLost
        else:
            champdata = sumstats[list(sumstats.keys())[champnum]].data
            #print(champnum)
            champstr = str(list(sumstats.keys())[champnum].id)
            #print(champstr)
            summonerstatdict[champstr+'K'] = champdata.averageChampionsKilled
            summonerstatdict[champstr+'D'] = champdata.averageNumDeaths
            summonerstatdict[champstr+'A'] = champdata.averageAssists
            summonerstatdict[champstr+'W'] = champdata.totalSessionsWon
            summonerstatdict[champstr+'L'] = champdata.totalSessionsLost
    summonerdf = pd.DataFrame([summonerstatdict], index=[summoner.id])
    # we have a dataframe that represents a single summoner's skill. 
    
    #we concatenate the current list of summoners and skills with ourselves.     
    summonersdf = pd.concat([summonersdf, summonerdf])
#we exit the loop before we write the csv
summonersdf.to_csv('champskill.csv')

In [232]:
summonersdf.shape

(88, 689)

In [234]:
summoners_to_scrape.shape

(87, 3)

In [235]:
summonersdf.tail()

,Unnamed: 0,Unnamed: 0.1,101A,101D,101K,101L,101W,102A,102D,102K,...,9K,9L,9W,AllA,AllD,AllK,AllL,AllW,date,summonername
summoner,,,,,,,,,,,,,,,,,,,,,
42060215,83,42060215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,232.0,258.0,2017-07-09,FZ3R0
19761072,84,19761072,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.0,0.0,177.0,203.0,2017-07-09,Xmithie
19199530,85,19199530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,548.0,572.0,2017-07-09,Xpecial
44989320,86,44989320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,15.0,14.0,2017-07-09,Only Sometimes
19787999,87,19787999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,119.0,161.0,2017-07-09,Winnable

In [236]:
summoners_to_scrape.tail()

             iterindex  pro handle   summoner name
summoner_id
42060215            82  WildTurtle           FZ3R0
19761072            83     Xmithie         Xmithie
19199530            84     Xpecial         Xpecial
44989320            85     Xpecial  Only Sometimes
19787999            86         zig        Winnable

In [150]:
summonersdf.shape

(88, 688)