The purpose of this notebook is to best data prep my matches, to add features, etc

In [10]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.15.0-py2.py3-none-any.whl (46kB)
    100% |################################| 51kB 1.4MB/s ta 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.15.0

In [11]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
champstr = pd.read_csv('championsstr.csv')
champskill = pd.read_csv('champskill.csv')
matches = pd.read_csv('matches.csv')

In [3]:
matches.head()

,matchid,MatchID,matchtime,patch_version,player10champid,player10lane,player10role,player10summonerid,player10summonername,player1champid,...,player8role,player8summonerid,player8summonername,player9champid,player9lane,player9role,player9summonerid,player9summonername,team1_win,team2_win
0,2078663920,2.078664e+09,2016-01-25 05:06:24.884000,6.1.0.484,4.0,MIDDLE,SOLO,21498922.0,TR Linsanity,13.0,...,DUO_SUPPORT,19806051.0,TR Strife,114.0,TOP,SOLO,20868998.0,LockDown Exec,True,False
1,2078608407,2.078608e+09,2016-01-25 04:25:30.551000,6.1.0.484,41.0,TOP,SOLO,28039649.0,Chunkylol,36.0,...,DUO_CARRY,19806051.0,TR Strife,134.0,MIDDLE,SOLO,21498922.0,TR Linsanity,False,True
2,2078592445,2.078592e+09,2016-01-25 03:52:01.302000,6.1.0.484,40.0,BOTTOM,DUO_SUPPORT,19806051.0,TR Strife,203.0,...,SOLO,27794083.0,Gillette,76.0,JUNGLE,NONE,37910602.0,twi tv trixondog,False,True
3,2078494759,2.078495e+09,2016-01-25 03:13:55.927000,6.1.0.484,40.0,BOTTOM,DUO_SUPPORT,465551.0,lIlIlIIIIlIIIlII,432.0,...,DUO_CARRY,21498922.0,TR Linsanity,27.0,TOP,SOLO,19470447.0,Minishcap1,False,True
4,2078437727,2.078438e+09,2016-01-25 02:41:39.662000,6.1.0.484,42.0,MIDDLE,SOLO,22005573.0,caaaaaaaaaaaaake,76.0,...,NONE,21124626.0,Rikara,114.0,TOP,SOLO,27794083.0,Gillette,False,True

In [4]:
champstr.head()

,Unnamed: 0,A,CHAMPID,CHAMPID_Role,D,DATE,K,KDA,PATCH,PLAYRATE,RANK,ROLE,WINRATE,indexval
0,0,13.986624,412,412DUO_SUPPORT,5.091753,2017-07-09,2.005026,3.140696,7.13,0.237908,12.392156,DUO_SUPPORT,0.520760,DUO_SUPPORT4122017-07-09
1,1,8.247063,64,64JUNGLE,5.633791,2017-07-09,5.894597,2.510150,7.13,0.205898,12.671623,JUNGLE,0.471993,JUNGLE642017-07-09
2,2,7.126256,51,51DUO_CARRY,5.285623,2017-07-09,6.099316,2.502178,7.13,0.192461,16.880862,DUO_CARRY,0.527619,DUO_CARRY512017-07-09
3,3,8.336074,202,202DUO_CARRY,4.958614,2017-07-09,6.632931,3.018788,7.13,0.166266,13.001817,DUO_CARRY,0.500411,DUO_CARRY2022017-07-09
4,4,6.868703,236,236DUO_CARRY,5.203770,2017-07-09,6.570937,2.582673,7.13,0.137337,10.727671,DUO_CARRY,0.480963,DUO_CARRY2362017-07-09

In [5]:
champskill.head()

,summoner_id,101A,101D,101K,101L,101W,102A,102D,102K,102L,...,9L,9W,AllA,AllD,AllK,AllL,AllW,date,summoner,summonername
0,50354156.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,604.0,570.0,2017-07-10,NaN,Blue Djinn
1,68469257.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,268.0,308.0,2017-07-10,NaN,Hopelesz
2,70523028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,28.0,97.0,2017-07-10,NaN,dun is washed up
3,78269679.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,86.0,119.0,2017-07-10,NaN,dellzÃ´r
4,82481469.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,30.0,91.0,2017-07-10,NaN,NaSecretSupport

In [6]:
def roleprep(df):
    for playernum in range(1,6):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
    for playernum in range(6,11):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
    return df

In [7]:
testdf=matches.head()

In [12]:
testdf.apply(roleprep, axis=1)

,MatchID,matchid,matchtime,patch_version,player10champid,player10lane,player10role,player10summonerid,player10summonername,player1champid,...,team1JUNGLE,team1MIDDLE,team1TOP,team1_win,team2DUO_CARRY,team2DUO_SUPPORT,team2JUNGLE,team2MIDDLE,team2TOP,team2_win
0,2.078664e+09,2078663920,2016-01-25 05:06:24.884000,6.1.0.484,4.0,MIDDLE,SOLO,21498922.0,TR Linsanity,13.0,...,245.0,13.0,34.0,True,236.0,40.0,64.0,4.0,114.0,False
1,2.078608e+09,2078608407,2016-01-25 04:25:30.551000,6.1.0.484,41.0,TOP,SOLO,28039649.0,Chunkylol,36.0,...,36.0,74.0,24.0,False,42.0,25.0,421.0,134.0,41.0,True
2,2.078592e+09,2078592445,2016-01-25 03:52:01.302000,6.1.0.484,40.0,BOTTOM,DUO_SUPPORT,19806051.0,TR Strife,203.0,...,203.0,13.0,98.0,False,236.0,40.0,76.0,117.0,24.0,True
3,2.078495e+09,2078494759,2016-01-25 03:13:55.927000,6.1.0.484,40.0,BOTTOM,DUO_SUPPORT,465551.0,lIlIlIIIIlIIIlII,432.0,...,203.0,81.0,12.0,False,236.0,40.0,NaN,4.0,27.0,True
4,2.078438e+09,2078437727,2016-01-25 02:41:39.662000,6.1.0.484,42.0,MIDDLE,SOLO,22005573.0,caaaaaaaaaaaaake,76.0,...,76.0,7.0,98.0,False,81.0,40.0,203.0,42.0,114.0,True

In [13]:
matches_roles = matches.apply(roleprep, axis=1)

In [15]:
matches_roles.columns

Index(['MatchID', 'matchid', 'matchtime', 'patch_version', 'player10champid',
       'player10lane', 'player10role', 'player10summonerid',
       'player10summonername', 'player1champid', 'player1lane', 'player1role',
       'player1summonerid', 'player1summonername', 'player2champid',
       'player2lane', 'player2role', 'player2summonerid',
       'player2summonername', 'player3champid', 'player3lane', 'player3role',
       'player3summonerid', 'player3summonername', 'player4champid',
       'player4lane', 'player4role', 'player4summonerid',
       'player4summonername', 'player5champid', 'player5lane', 'player5role',
       'player5summonerid', 'player5summonername', 'player6champid',
       'player6lane', 'player6role', 'player6summonerid',
       'player6summonername', 'player7champid', 'player7lane', 'player7role',
       'player7summonerid', 'player7summonername', 'player8champid',
       'player8lane', 'player8role', 'player8summonerid',
       'player8summonername', 'player9champid', 'player9lane', 'player9role',
       'player9summonerid', 'player9summonername', 'team1DUO',
       'team1DUO_CARRY', 'team1DUO_SUPPORT', 'team1JUNGLE', 'team1MIDDLE',
       'team1NONE', 'team1SOLO', 'team1TOP', 'team1_win', 'team2DUO',
       'team2DUO_CARRY', 'team2DUO_SUPPORT', 'team2JUNGLE', 'team2MIDDLE',
       'team2NONE', 'team2SOLO', 'team2TOP', 'team2_win'],
      dtype='object')

In [19]:
matches_roles.drop(['team1NONE','team2NONE','team1SOLO','team2SOLO','team1DUO','team2DUO'],axis=1, inplace=True)

In [22]:
matches_roles[matches_roles['team1JUNGLE'].isnull()]

,MatchID,matchid,matchtime,patch_version,player10champid,player10lane,player10role,player10summonerid,player10summonername,player1champid,...,team1JUNGLE,team1MIDDLE,team1TOP,team1_win,team2DUO_CARRY,team2DUO_SUPPORT,team2JUNGLE,team2MIDDLE,team2TOP,team2_win
77,2.534560e+09,2534560445,2017-06-27 03:30:37.793000,7.12.190.9002,202.0,BOTTOM,DUO_CARRY,69709179.0,chelly,59.0,...,NaN,7.0,59.0,False,202.0,201.0,121.0,163.0,3.0,True
87,2.532375e+09,2532375042,2017-06-24 05:13:46.207000,7.12.190.9002,69.0,MIDDLE,SOLO,83089576.0,ChasÃ©r,112.0,...,NaN,60.0,59.0,False,498.0,53.0,64.0,69.0,79.0,True
315,2.503136e+09,2503136124,2017-05-18 18:14:52.069000,7.10.187.9675,64.0,JUNGLE,NONE,38809624.0,Sophist Sage,498.0,...,NaN,60.0,114.0,True,51.0,143.0,64.0,134.0,24.0,False
365,2.496234e+09,2496233993,2017-05-09 20:47:01.662000,7.9.186.8155,60.0,MIDDLE,SOLO,83089576.0,ChasÃ©r,53.0,...,NaN,238.0,223.0,True,498.0,117.0,91.0,60.0,36.0,False
374,2.473628e+09,2473627703,2017-04-13 04:08:27.744000,7.7.182.1428,114.0,TOP,SOLO,19698094.0,FallenBandit,267.0,...,NaN,154.0,92.0,False,236.0,412.0,79.0,8.0,114.0,True
394,2.457460e+09,2457460417,2017-03-23 03:39:11.235000,7.6.180.6903,238.0,MIDDLE,SOLO,2648.0,Pobelter,35.0,...,NaN,41.0,68.0,False,NaN,NaN,64.0,238.0,8.0,True
412,2.450003e+09,2450002741,2017-03-13 23:21:59.101000,7.5.178.6844,60.0,JUNGLE,NONE,21747804.0,Yami,114.0,...,NaN,79.0,114.0,True,81.0,412.0,60.0,13.0,111.0,False
432,2.434909e+09,2434908581,2017-02-24 21:56:18.013000,7.4.176.9828,64.0,JUNGLE,NONE,29317015.0,cheisu,59.0,...,NaN,126.0,50.0,True,18.0,53.0,64.0,101.0,164.0,False
467,2.420230e+09,2420230426,2017-02-09 06:52:52.990000,7.3.175.271,50.0,TOP,SOLO,20037104.0,Chody Walrus,92.0,...,NaN,24.0,92.0,False,110.0,201.0,107.0,101.0,50.0,True
502,2.411394e+09,2411393587,2017-01-29 04:59:03.685000,7.2.174.829,60.0,JUNGLE,NONE,37532228.0,rhubarbs,134.0,...,NaN,134.0,104.0,False,110.0,111.0,60.0,42.0,126.0,True
615,2.507346e+09,2507345619,2017-05-24 03:08:54.715000,7.10.187.9675,121.0,JUNGLE,NONE,20026969.0,Naeun,432.0,...,NaN,134.0,79.0,True,236.0,53.0,121.0,61.0,68.0,False
688,2.474962e+09,2474962497,2017-04-15 00:16:35.838000,7.7.183.8394,40.0,BOTTOM,DUO_SUPPORT,40661961.0,The Tank Man,103.0,...,NaN,64.0,157.0,True,81.0,40.0,60.0,91.0,105.0,False
701,2.470090e+09,2470090325,2017-04-08 18:52:29.053000,7.7.182.1428,41.0,TOP,SOLO,34018967.0,Lawrences Dad,53.0,...,NaN,64.0,114.0,True,236.0,4.0,9.0,157.0,41.0,False
751,2.432560e+09,2432559555,2017-02-22 05:11:16.594000,7.3.175.271,13.0,MIDDLE,SOLO,78601667.0,shoueiGaGLun,161.0,...,NaN,1.0,80.0,False,119.0,117.0,35.0,13.0,133.0,True
763,2.425575e+09,2425575201,2017-02-15 03:00:29.250000,7.3.175.271,105.0,TOP,SOLO,50791128.0,Zahnet,427.0,...,NaN,238.0,84.0,False,81.0,117.0,64.0,134.0,105.0,True
806,2.418334e+09,2418334274,2017-02-06 23:20:27.091000,7.2.174.829,202.0,BOTTOM,DUO_CARRY,44989342.0,doubleliftfanboy,121.0,...,NaN,112.0,78.0,False,202.0,117.0,64.0,101.0,111.0,True
862,2.411747e+09,2411747224,2017-01-29 20:17:11.146000,7.2.174.829,412.0,BOTTOM,DUO_SUPPORT,21276764.0,VÂµlcan,81.0,...,NaN,112.0,420.0,True,110.0,412.0,254.0,91.0,50.0,False
1007,2.385964e+09,2385964276,2016-12-29 18:34:28.171000,6.24.169.4424,13.0,MIDDLE,SOLO,51075422.0,FLX Hopeful,126.0,...,NaN,90.0,126.0,False,NaN,NaN,121.0,13.0,85.0,True
1094,2.370144e+09,2370143547,2016-12-11 17:25:37.022000,6.24.168.1268,7.0,MIDDLE,SOLO,53999087.0,I Blame Rito,17.0,...,NaN,13.0,17.0,True,81.0,412.0,106.0,7.0,83.0,False
1112,2.367428e+09,2367428100,2016-12-08 22:16:34.325000,6.24.168.1268,412.0,BOTTOM,DUO,20308843.0,Zackattack,427.0,...,NaN,105.0,240.0,False,NaN,NaN,254.0,127.0,NaN,True
1309,2.498425e+09,2498424607,2017-05-12 19:31:33.432000,7.9.186.8155,134.0,MIDDLE,SOLO,40027534.0,Im ReallyFat Irl,30.0,...,NaN,121.0,17.0,False,202.0,43.0,104.0,134.0,58.0,True
1418,2.479937e+09,2479937027,2017-04-20 18:35:18.333000,7.8.184.113,51.0,BOTTOM,SOLO,38038926.0,duoking1,117.0,...,NaN,80.0,NaN,False,NaN,NaN,53.0,105.0,NaN,True
1439,2.476199e+09,2476198741,2017-04-16 08:09:05.143000,7.7.183.8394,43.0,BOTTOM,DUO,29049825.0,Delay,104.0,...,NaN,7.0,3.0,False,NaN,NaN,72.0,103.0,111.0,True
1444,2.476152e+09,2476151839,2017-04-16 04:59:59.747000,7.7.183.8394,267.0,BOTTOM,DUO,44131968.0,Nasteey,161.0,...,NaN,427.0,86.0,False,NaN,NaN,421.0,38.0,266.0,True
1548,2.413079e+09,2413079265,2017-01-31 07:32:23.256000,7.2.174.829,81.0,BOTTOM,DUO,43719224.0,q1w2e3r4t5y6u7i8,143.0,...,NaN,157.0,126.0,True,NaN,NaN,104.0,101.0,114.0,False
1569,2.409831e+09,2409831499,2017-01-27 07:56:08.162000,7.2.174.829,64.0,JUNGLE,NONE,34983603.0,Licorice,103.0,...,NaN,28.0,NaN,False,NaN,NaN,64.0,69.0,17.0,True
1675,2.533610e+09,2533610111,2017-06-25 20:00:27.939000,7.12.190.9002,74.0,MIDDLE,SOLO,20411671.0,Heisendong,117.0,...,NaN,163.0,3.0,False,22.0,267.0,76.0,74.0,91.0,True
1685,2.532280e+09,2532279561,2017-06-24 03:21:30.930000,7.12.190.9002,61.0,MIDDLE,SOLO,55971316.0,MID LFT,37.0,...,NaN,134.0,91.0,False,236.0,40.0,121.0,61.0,92.0,True
1769,2.516278e+09,2516277691,2017-06-04 09:11:23.259000,7.11.189.942,126.0,TOP,SOLO,61727429.0,Teamfighting,16.0,...,NaN,121.0,92.0,False,NaN,NaN,NaN,134.0,126.0,True
1816,2.510751e+09,2510751353,2017-05-28 09:32:19.240000,7.10.187.9675,412.0,BOTTOM,DUO_SUPPORT,37481045.0,insanÃ­ty,112.0,...,NaN,60.0,98.0,False,236.0,412.0,19.0,134.0,92.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85860,2.365205e+09,2365204502,2016-12-06 01:52:00.111000,6.23.166.2676,67.0,BOTTOM,DUO_CARRY,19331138.0,tapator,68.0,...,NaN,1.0,68.0,False,67.0,25.0,64.0,268.0,36.0,True
85863,2.357947e+09,2357946714,2016-11-27 06:18:37.145000,6.23.166.2676,254.0,JUNGLE,NONE,20896133.0,Riot Xealouz,104.0,...,NaN,238.0,104.0,True,51.0,40.0,254.0,55.0,43.0,False
85864,2.357755e+09,2357755440,2016-11-27 03:45:45.634000,6.23.166.2676,412.0,BOTTOM,DUO_SUPPORT,25208773.0,Oh CaIamity,12.0,...,NaN,245.0,92.0,True,119.0,412.0,107.0,13.0,223.0,False
85893,2.360355e+09,2360355403,2016-11-30 03:49:40.928000,6.23.166.2676,64.0,JUNGLE,NONE,70439672.0,FORG1VENRE,254.0,...,NaN,126.0,74.0,False,22.0,40.0,64.0,157.0,27.0,True
85910,2.363461e+09,2363460993,2016-12-04 01:24:59.937000,6.23.166.2676,54.0,TOP,SOLO,25048492.0,hypermonkieboi,122.0,...,NaN,112.0,122.0,False,NaN,NaN,9.0,42.0,54.0,True
85933,2.363330e+09,2363330465,2016-12-03 22:31:58.825000,6.23.166.2676,157.0,MIDDLE,SOLO,81199259.0,BESTRIVENDAVOO,29.0,...,NaN,90.0,150.0,True,202.0,45.0,427.0,157.0,10.0,False
86039,2.356979e+09,2356979101,2016-11-26 04:14:24.736000,6.23.166.2676,126.0,TOP,SOLO,40494000.0,TheSecretK,112.0,...,NaN,112.0,39.0,False,81.0,12.0,102.0,13.0,126.0,True
86159,2.360702e+09,2360701620,2016-11-30 21:41:46.173000,6.23.166.2676,57.0,JUNGLE,NONE,24520601.0,B3P0,99.0,...,NaN,64.0,68.0,True,110.0,43.0,57.0,45.0,122.0,False
86193,2.361338e+09,2361338008,2016-12-01 07:47:56.256000,6.23.166.2676,25.0,BOTTOM,DUO_SUPPORT,21042561.0,SherIocked,40.0,...,NaN,99.0,75.0,False,103.0,25.0,120.0,4.0,122.0,True
86221,2.360476e+09,2360476371,2016-11-30 06:56:54.154000,6.23.166.2676,85.0,MIDDLE,NONE,21853867.0,KogYourMum,64.0,...,NaN,143.0,157.0,True,NaN,NaN,NaN,85.0,NaN,False
86328,2.365437e+09,2365437268,2016-12-06 10:12:52.120000,6.23.166.2676,81.0,BOTTOM,DUO_CARRY,45311914.0,Ghettoo,59.0,...,NaN,25.0,33.0,True,81.0,223.0,254.0,99.0,111.0,False
86331,2.366179e+09,2366179362,2016-12-07 06:00:52.234000,6.23.166.2676,75.0,BOTTOM,DUO_SUPPORT,36611271.0,bu2b,60.0,...,NaN,69.0,58.0,True,81.0,75.0,104.0,134.0,92.0,False
86350,2.361279e+09,2361279446,2016-12-01 07:53:43.596000,6.23.166.2676,112.0,MIDDLE,SOLO,34980785.0,Smurfwave,17.0,...,NaN,61.0,17.0,True,81.0,412.0,121.0,112.0,7.0,False
86415,2.362232e+09,2362231920,2016-12-02 22:40:55.243000,6.23.166.2676,29.0,BOTTOM,DUO_CARRY,57316741.0,BlackMambaX24,37.0,...,NaN,101.0,75.0,True,29.0,223.0,64.0,55.0,32.0,False
86437,2.354274e+09,2354274290,2016-11-23 02:40:06.846000,6.23.166.2676,69.0,MIDDLE,SOLO,24811504.0,Davemon,4.0,...,NaN,64.0,75.0,True,236.0,53.0,56.0,69.0,78.0,False
86576,2.359387e+09,2359387184,2016-11-29 02:42:28.514000,6.23.166.2676,83.0,TOP,SOLO,20982294.0,Ryden7,63.0,...,NaN,120.0,122.0,True,119.0,26.0,64.0,99.0,83.0,False
86606,2.362191e+09,2362190523,2016-12-02 20:45:11.649000,6.23.166.2676,39.0,TOP,SOLO,22046482.0,Relise,92.0,...,NaN,38.0,92.0,True,202.0,143.0,102.0,61.0,39.0,False
86607,2.362126e+09,2362126043,2016-12-02 19:23:09.527000,6.23.166.2676,2.0,TOP,SOLO,47120581.0,WildDonkeyY,51.0,...,NaN,427.0,150.0,True,67.0,143.0,NaN,61.0,2.0,False
86632,2.357493e+09,2357493314,2016-11-26 22:05:51.911000,6.23.166.2676,64.0,JUNGLE,NONE,24449785.0,that808gamer,40.0,...,NaN,13.0,157.0,False,51.0,143.0,64.0,112.0,41.0,True
86778,2.355589e+09,2355589323,2016-11-24 17:40:34.096000,6.23.166.2676,61.0,MIDDLE,SOLO,19996469.0,Fyrat,67.0,...,NaN,238.0,117.0,False,NaN,NaN,120.0,61.0,43.0,True
86782,2.359819e+09,2359818659,2016-11-29 07:15:47.534000,6.23.166.2676,254.0,MIDDLE,DUO,24585885.0,footballisback,7.0,...,NaN,79.0,75.0,True,NaN,NaN,NaN,254.0,78.0,False
86785,2.359064e+09,2359064190,2016-11-28 14:38:36.955000,6.23.166.2676,134.0,MIDDLE,SOLO,36071571.0,Pooper Josh,64.0,...,NaN,8.0,80.0,False,NaN,NaN,NaN,134.0,121.0,True
86890,2.363390e+09,2363390032,2016-12-03 23:55:43.621000,6.23.166.2676,161.0,MIDDLE,SOLO,35765012.0,Dog Kun,7.0,...,NaN,29.0,62.0,False,202.0,53.0,102.0,161.0,75.0,True
87036,2.353575e+09,2353574805,2016-11-22 08:17:43.039000,6.22.165.9605,33.0,JUNGLE,NONE,22441218.0,Snuggler9,122.0,...,NaN,112.0,122.0,True,202.0,26.0,33.0,163.0,157.0,False
87040,2.361781e+09,2361781121,2016-12-02 02:43:40.637000,6.23.166.2676,12.0,BOTTOM,DUO,506741.0,Tippick,37.0,...,NaN,238.0,41.0,False,NaN,NaN,NaN,134.0,104.0,True
87121,2.354545e+09,2354544595,2016-11-23 15:33:36.657000,6.23.166.2676,96.0,BOTTOM,DUO_CARRY,44148471.0,MeaningIess,14.0,...,NaN,79.0,14.0,True,96.0,12.0,266.0,55.0,92.0,False
87172,2.361914e+09,2361913989,2016-12-02 05:45:39.870000,6.23.166.2676,134.0,MIDDLE,NONE,25177820.0,Space Penis,150.0,...,NaN,20.0,432.0,False,NaN,NaN,NaN,134.0,92.0,True
87197,2.359906e+09,2359905561,2016-11-29 09:48:11.743000,6.23.166.2676,10.0,MIDDLE,SOLO,36449470.0,IamLegendk,115.0,...,NaN,115.0,106.0,False,81.0,53.0,56.0,10.0,2.0,True
87200,2.359196e+09,2359196373,2016-11-28 22:18:14.957000,6.23.166.2676,40.0,BOTTOM,DUO,51599739.0,TheMoonIsMySun,92.0,...,NaN,13.0,92.0,False,NaN,NaN,35.0,4.0,84.0,True
87296,2.361788e+09,2361787822,2016-12-02 03:32:19.480000,6.23.166.2676,12.0,BOTTOM,DUO,37447382.0,KlvA,85.0,...,NaN,245.0,85.0,True,NaN,NaN,75.0,69.0,NaN,False

In [26]:
matches_dropped= matches_roles.dropna()

In [27]:
matches.shape

(87448, 56)

In [28]:
champstr.head()

,Unnamed: 0,A,CHAMPID,CHAMPID_Role,D,DATE,K,KDA,PATCH,PLAYRATE,RANK,ROLE,WINRATE,indexval
0,0,13.986624,412,412DUO_SUPPORT,5.091753,2017-07-09,2.005026,3.140696,7.13,0.237908,12.392156,DUO_SUPPORT,0.520760,DUO_SUPPORT4122017-07-09
1,1,8.247063,64,64JUNGLE,5.633791,2017-07-09,5.894597,2.510150,7.13,0.205898,12.671623,JUNGLE,0.471993,JUNGLE642017-07-09
2,2,7.126256,51,51DUO_CARRY,5.285623,2017-07-09,6.099316,2.502178,7.13,0.192461,16.880862,DUO_CARRY,0.527619,DUO_CARRY512017-07-09
3,3,8.336074,202,202DUO_CARRY,4.958614,2017-07-09,6.632931,3.018788,7.13,0.166266,13.001817,DUO_CARRY,0.500411,DUO_CARRY2022017-07-09
4,4,6.868703,236,236DUO_CARRY,5.203770,2017-07-09,6.570937,2.582673,7.13,0.137337,10.727671,DUO_CARRY,0.480963,DUO_CARRY2362017-07-09

In [29]:
champskill.head()

,summoner_id,101A,101D,101K,101L,101W,102A,102D,102K,102L,...,9L,9W,AllA,AllD,AllK,AllL,AllW,date,summoner,summonername
0,50354156.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,604.0,570.0,2017-07-10,NaN,Blue Djinn
1,68469257.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,268.0,308.0,2017-07-10,NaN,Hopelesz
2,70523028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,28.0,97.0,2017-07-10,NaN,dun is washed up
3,78269679.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,86.0,119.0,2017-07-10,NaN,dellzÃ´r
4,82481469.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,30.0,91.0,2017-07-10,NaN,NaSecretSupport

In [69]:
df = matches.loc[[0]]

In [70]:
df

,matchid,MatchID,matchtime,patch_version,player10champid,player10lane,player10role,player10summonerid,player10summonername,player1champid,...,player8role,player8summonerid,player8summonername,player9champid,player9lane,player9role,player9summonerid,player9summonername,team1_win,team2_win
0,2078663920,2.078664e+09,2016-01-25 05:06:24.884000,6.1.0.484,4.0,MIDDLE,SOLO,21498922.0,TR Linsanity,13.0,...,DUO_SUPPORT,19806051.0,TR Strife,114.0,TOP,SOLO,20868998.0,LockDown Exec,True,False

In [57]:
champid = 60

In [59]:
champskill[str(champid)+'L'].mean()

4.4844013490725123

In [60]:
len(champskill[champskill['summoner_id']==50354156.0]) # this is 0 if we don't know about the summoner, 1 if we do.

1

In [61]:
skilldf = champskill[champskill['summoner_id']==50354156.0]

In [62]:
skilldf

,summoner_id,101A,101D,101K,101L,101W,102A,102D,102K,102L,...,9L,9W,AllA,AllD,AllK,AllL,AllW,date,summoner,summonername
0,50354156.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,604.0,570.0,2017-07-10,NaN,Blue Djinn

Our purpose is the following, 
For each role, we want the wins, loss, win/loss  of all champions for the player playing the champion, and the win, loss win/loss for the champion, as well as the percentage of games are that champion. 
The code below is a minimum viable product, and needs to be refactored. 
The stats we want for each role (top, mid, jgl,adc,sup) is wins on that champion, losses on that champion, win loss percent on that champion. Wins on all champions for that player, losses on all champions for that player, all win/los rate, and percentage of games (win or loss) for that champion compared to all games that player has played. 

In short, for players we don't have in the database, we use the AVG for all players.
For players that we have in the database but there is a 0, we set the wins to 1, and the losses to 2.

In [106]:
def dataprep(df):
    for playernum in range(1,6):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        playeridstr = 'player'+str(playernum)+'summonerid'
        playerid = df[playeridstr]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=1
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=2
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
                
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]

                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=1
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=2
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
    for playernum in range(6,11):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        playeridstr = 'player'+str(playernum)+'summonerid'
        playerid = df[playeridstr]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=1
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=2
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                    
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=1
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=2
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
    return df

In [146]:
def dataprep2(df):# This function uses the mean for all my entire dataset for imputation. 
    for playernum in range(1,6):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        playeridstr = 'player'+str(playernum)+'summonerid'
        playerid = df[playeridstr]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
                
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]

                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
    for playernum in range(6,11):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        playeridstr = 'player'+str(playernum)+'summonerid'
        playerid = df[playeridstr]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                    
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    if df[rolestr_cw].isnull():
                        df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    if df[rolestr_cl].isnull():
                        df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    df[rolestr_cw]=1
                    df[rolestr_cl]=2
                
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
    return df

In [119]:
testdf= matches.tail(100)

In [120]:
ver1=testdf.apply(dataprep, axis=1)

In [122]:
skilledver= matches.apply(dataprep, axis=1)

In [147]:
skilledver2= matches.apply(dataprep2, axis=1)

In [149]:
skilledver2.drop(['team1NONE','team2NONE','team1SOLO','team2SOLO','team1DUO','team2DUO'],axis=1, inplace=True)

In [126]:
skilledver.columns

Index(['MatchID', 'matchid', 'matchtime', 'patch_version', 'player10champid',
       'player10lane', 'player10role', 'player10summonerid',
       'player10summonername', 'player1champid',
       ...
       'team2SOLO_owp', 'team2TOP', 'team2TOP_cl', 'team2TOP_cpp',
       'team2TOP_cw', 'team2TOP_cwp', 'team2TOP_ol', 'team2TOP_ow',
       'team2TOP_owp', 'team2_win'],
      dtype='object', length=184)

In [127]:
skilledver.drop(['team1NONE','team2NONE','team1SOLO','team2SOLO','team1DUO','team2DUO'],axis=1, inplace=True)

In [128]:
skilledver.shape

(87448, 178)

In [133]:
xlist=list(skilledver.columns)#now let's make a new version of this just with what we need.

In [134]:
xlist

['MatchID',
 'matchid',
 'matchtime',
 'patch_version',
 'player10champid',
 'player10lane',
 'player10role',
 'player10summonerid',
 'player10summonername',
 'player1champid',
 'player1lane',
 'player1role',
 'player1summonerid',
 'player1summonername',
 'player2champid',
 'player2lane',
 'player2role',
 'player2summonerid',
 'player2summonername',
 'player3champid',
 'player3lane',
 'player3role',
 'player3summonerid',
 'player3summonername',
 'player4champid',
 'player4lane',
 'player4role',
 'player4summonerid',
 'player4summonername',
 'player5champid',
 'player5lane',
 'player5role',
 'player5summonerid',
 'player5summonername',
 'player6champid',
 'player6lane',
 'player6role',
 'player6summonerid',
 'player6summonername',
 'player7champid',
 'player7lane',
 'player7role',
 'player7summonerid',
 'player7summonername',
 'player8champid',
 'player8lane',
 'player8role',
 'player8summonerid',
 'player8summonername',
 'player9champid',
 'player9lane',
 'player9role',
 'player9summonerid',
 'player9summonername',
 'team1DUO_CARRY',
 'team1DUO_CARRY_cl',
 'team1DUO_CARRY_cpp',
 'team1DUO_CARRY_cw',
 'team1DUO_CARRY_cwp',
 'team1DUO_CARRY_ol',
 'team1DUO_CARRY_ow',
 'team1DUO_CARRY_owp',
 'team1DUO_SUPPORT',
 'team1DUO_SUPPORT_cl',
 'team1DUO_SUPPORT_cpp',
 'team1DUO_SUPPORT_cw',
 'team1DUO_SUPPORT_cwp',
 'team1DUO_SUPPORT_ol',
 'team1DUO_SUPPORT_ow',
 'team1DUO_SUPPORT_owp',
 'team1DUO_cl',
 'team1DUO_cpp',
 'team1DUO_cw',
 'team1DUO_cwp',
 'team1DUO_ol',
 'team1DUO_ow',
 'team1DUO_owp',
 'team1JUNGLE',
 'team1JUNGLE_cl',
 'team1JUNGLE_cpp',
 'team1JUNGLE_cw',
 'team1JUNGLE_cwp',
 'team1JUNGLE_ol',
 'team1JUNGLE_ow',
 'team1JUNGLE_owp',
 'team1MIDDLE',
 'team1MIDDLE_cl',
 'team1MIDDLE_cpp',
 'team1MIDDLE_cw',
 'team1MIDDLE_cwp',
 'team1MIDDLE_ol',
 'team1MIDDLE_ow',
 'team1MIDDLE_owp',
 'team1NONE_cl',
 'team1NONE_cpp',
 'team1NONE_cw',
 'team1NONE_cwp',
 'team1NONE_ol',
 'team1NONE_ow',
 'team1NONE_owp',
 'team1SOLO_cl',
 'team1SOLO_cpp',
 'team1SOLO_cw',
 'team1SOLO_cwp',
 'team1SOLO_ol',
 'team1SOLO_ow',
 'team1SOLO_owp',
 'team1TOP',
 'team1TOP_cl',
 'team1TOP_cpp',
 'team1TOP_cw',
 'team1TOP_cwp',
 'team1TOP_ol',
 'team1TOP_ow',
 'team1TOP_owp',
 'team1_win',
 'team2DUO_CARRY',
 'team2DUO_CARRY_cl',
 'team2DUO_CARRY_cpp',
 'team2DUO_CARRY_cw',
 'team2DUO_CARRY_cwp',
 'team2DUO_CARRY_ol',
 'team2DUO_CARRY_ow',
 'team2DUO_CARRY_owp',
 'team2DUO_SUPPORT',
 'team2DUO_SUPPORT_cl',
 'team2DUO_SUPPORT_cpp',
 'team2DUO_SUPPORT_cw',
 'team2DUO_SUPPORT_cwp',
 'team2DUO_SUPPORT_ol',
 'team2DUO_SUPPORT_ow',
 'team2DUO_SUPPORT_owp',
 'team2DUO_cl',
 'team2DUO_cpp',
 'team2DUO_cw',
 'team2DUO_cwp',
 'team2DUO_ol',
 'team2DUO_ow',
 'team2DUO_owp',
 'team2JUNGLE',
 'team2JUNGLE_cl',
 'team2JUNGLE_cpp',
 'team2JUNGLE_cw',
 'team2JUNGLE_cwp',
 'team2JUNGLE_ol',
 'team2JUNGLE_ow',
 'team2JUNGLE_owp',
 'team2MIDDLE',
 'team2MIDDLE_cl',
 'team2MIDDLE_cpp',
 'team2MIDDLE_cw',
 'team2MIDDLE_cwp',
 'team2MIDDLE_ol',
 'team2MIDDLE_ow',
 'team2MIDDLE_owp',
 'team2NONE_cl',
 'team2NONE_cpp',
 'team2NONE_cw',
 'team2NONE_cwp',
 'team2NONE_ol',
 'team2NONE_ow',
 'team2NONE_owp',
 'team2SOLO_cl',
 'team2SOLO_cpp',
 'team2SOLO_cw',
 'team2SOLO_cwp',
 'team2SOLO_ol',
 'team2SOLO_ow',
 'team2SOLO_owp',
 'team2TOP',
 'team2TOP_cl',
 'team2TOP_cpp',
 'team2TOP_cw',
 'team2TOP_cwp',
 'team2TOP_ol',
 'team2TOP_ow',
 'team2TOP_owp',
 'team2_win']

In [138]:
Xlist=[
    'patch_version',
    'team1DUO_CARRY',
 'team1DUO_CARRY_cl',
 'team1DUO_CARRY_cpp',
 'team1DUO_CARRY_cw',
 'team1DUO_CARRY_cwp',
 'team1DUO_CARRY_ol',
 'team1DUO_CARRY_ow',
 'team1DUO_CARRY_owp',
 'team1DUO_SUPPORT',
 'team1DUO_SUPPORT_cl',
 'team1DUO_SUPPORT_cpp',
 'team1DUO_SUPPORT_cw',
 'team1DUO_SUPPORT_cwp',
 'team1DUO_SUPPORT_ol',
 'team1DUO_SUPPORT_ow',
 'team1DUO_SUPPORT_owp',
 'team1JUNGLE',
 'team1JUNGLE_cl',
 'team1JUNGLE_cpp',
 'team1JUNGLE_cw',
 'team1JUNGLE_cwp',
 'team1JUNGLE_ol',
 'team1JUNGLE_ow',
 'team1JUNGLE_owp',
 'team1MIDDLE',
 'team1MIDDLE_cl',
 'team1MIDDLE_cpp',
 'team1MIDDLE_cw',
 'team1MIDDLE_cwp',
 'team1MIDDLE_ol',
 'team1MIDDLE_ow',
 'team1MIDDLE_owp',
 'team1TOP',
 'team1TOP_cl',
 'team1TOP_cpp',
 'team1TOP_cw',
 'team1TOP_cwp',
 'team1TOP_ol',
 'team1TOP_ow',
 'team1TOP_owp',
 'team1_win',
 'team2DUO_CARRY',
 'team2DUO_CARRY_cl',
 'team2DUO_CARRY_cpp',
 'team2DUO_CARRY_cw',
 'team2DUO_CARRY_cwp',
 'team2DUO_CARRY_ol',
 'team2DUO_CARRY_ow',
 'team2DUO_CARRY_owp',
 'team2DUO_SUPPORT',
 'team2DUO_SUPPORT_cl',
 'team2DUO_SUPPORT_cpp',
 'team2DUO_SUPPORT_cw',
 'team2DUO_SUPPORT_cwp',
 'team2DUO_SUPPORT_ol',
 'team2DUO_SUPPORT_ow',
 'team2DUO_SUPPORT_owp',
 'team2JUNGLE',
 'team2JUNGLE_cl',
 'team2JUNGLE_cpp',
 'team2JUNGLE_cw',
 'team2JUNGLE_cwp',
 'team2JUNGLE_ol',
 'team2JUNGLE_ow',
 'team2JUNGLE_owp',
 'team2MIDDLE',
 'team2MIDDLE_cl',
 'team2MIDDLE_cpp',
 'team2MIDDLE_cw',
 'team2MIDDLE_cwp',
 'team2MIDDLE_ol',
 'team2MIDDLE_ow',
 'team2MIDDLE_owp',
 'team2TOP',
 'team2TOP_cl',
 'team2TOP_cpp',
 'team2TOP_cw',
 'team2TOP_cwp',
 'team2TOP_ol',
 'team2TOP_ow',
 'team2TOP_owp',
 'team2_win'
]

In [139]:
df = skilledver[Xlist]

In [150]:
df2 = skilledver2[Xlist]

In [140]:
df.head()

,patch_version,team1DUO_CARRY,team1DUO_CARRY_cl,team1DUO_CARRY_cpp,team1DUO_CARRY_cw,team1DUO_CARRY_cwp,team1DUO_CARRY_ol,team1DUO_CARRY_ow,team1DUO_CARRY_owp,team1DUO_SUPPORT,...,team2MIDDLE_owp,team2TOP,team2TOP_cl,team2TOP_cpp,team2TOP_cw,team2TOP_cwp,team2TOP_ol,team2TOP_ow,team2TOP_owp,team2_win
0,6.1.0.484,42.0,2.000000,0.008000,1.000000,0.333333,158.000000,217.000000,0.578667,412.0,...,0.562278,114.0,2.0,0.008357,1.0,0.333333,181.0,178.0,0.495822,False
1,6.1.0.484,429.0,2.807436,0.015554,2.651874,0.485753,172.040667,178.941211,0.509830,111.0,...,0.562278,41.0,2.0,0.002994,1.0,0.333333,483.0,519.0,0.517964,True
2,6.1.0.484,17.0,2.000000,0.040000,1.000000,0.333333,25.000000,50.000000,0.666667,25.0,...,0.562278,24.0,2.0,0.002045,1.0,0.333333,716.0,751.0,0.511929,True
3,6.1.0.484,67.0,6.453734,0.037201,6.603064,0.505718,172.040667,178.941211,0.509830,432.0,...,0.562278,27.0,2.0,0.034483,1.0,0.333333,39.0,48.0,0.551724,True
4,6.1.0.484,236.0,2.000000,0.005882,1.000000,0.333333,225.000000,285.000000,0.558824,12.0,...,0.509830,114.0,2.0,0.002045,1.0,0.333333,716.0,751.0,0.511929,True

In [141]:
df.shape

(87448, 83)

In [142]:
df.dropna(inplace=True)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [151]:
df2.dropna(inplace=True)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [152]:
df2.shape

(71933, 83)

In [143]:
df.shape

(71933, 83)

In [144]:
df.head()

,patch_version,team1DUO_CARRY,team1DUO_CARRY_cl,team1DUO_CARRY_cpp,team1DUO_CARRY_cw,team1DUO_CARRY_cwp,team1DUO_CARRY_ol,team1DUO_CARRY_ow,team1DUO_CARRY_owp,team1DUO_SUPPORT,...,team2MIDDLE_owp,team2TOP,team2TOP_cl,team2TOP_cpp,team2TOP_cw,team2TOP_cwp,team2TOP_ol,team2TOP_ow,team2TOP_owp,team2_win
0,6.1.0.484,42.0,2.000000,0.008000,1.000000,0.333333,158.000000,217.000000,0.578667,412.0,...,0.562278,114.0,2.0,0.008357,1.0,0.333333,181.0,178.0,0.495822,False
1,6.1.0.484,429.0,2.807436,0.015554,2.651874,0.485753,172.040667,178.941211,0.509830,111.0,...,0.562278,41.0,2.0,0.002994,1.0,0.333333,483.0,519.0,0.517964,True
2,6.1.0.484,17.0,2.000000,0.040000,1.000000,0.333333,25.000000,50.000000,0.666667,25.0,...,0.562278,24.0,2.0,0.002045,1.0,0.333333,716.0,751.0,0.511929,True
4,6.1.0.484,236.0,2.000000,0.005882,1.000000,0.333333,225.000000,285.000000,0.558824,12.0,...,0.509830,114.0,2.0,0.002045,1.0,0.333333,716.0,751.0,0.511929,True
5,7.13.192.6794,202.0,2.000000,0.014634,1.000000,0.333333,86.000000,119.000000,0.580488,432.0,...,0.510324,84.0,2.0,0.012552,1.0,0.333333,95.0,144.0,0.602510,False

In [154]:
df.to_csv('lol_matches_imputed1.csv')

In [155]:
df2.to_csv('lol_matches_imputed2.csv')

In [158]:
def dataprep3(df):# This function tries to minimize imputation to feed to xgboost.  
    for playernum in range(1,6):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        playeridstr = 'player'+str(playernum)+'summonerid'
        playerid = df[playeridstr]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    #if df[rolestr_cw].isnull():
                    #    df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    #if df[rolestr_cl].isnull():
                    #    df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    pass
                    #df[rolestr_cw]=1
                    #df[rolestr_cl]=2
                
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
                
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team1'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]

                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    #if df[rolestr_cw].isnull():
                    #    df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    #if df[rolestr_cl].isnull():
                    #    df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    pass
                    #df[rolestr_cw]=1
                    #df[rolestr_cl]=2
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
    for playernum in range(6,11):
        playerstrchmp = 'player'+str(playernum)+'champid'
        playerslane = 'player'+str(playernum)+'lane'
        champid = df[playerstrchmp]
        lane =df[playerslane]
        playeridstr = 'player'+str(playernum)+'summonerid'
        playerid = df[playeridstr]
        if lane!='BOTTOM':
            role = lane
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    #if df[rolestr_cw].isnull():
                    #    df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    #if df[rolestr_cl].isnull():
                    #   df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    pass
                    #df[rolestr_cw]=1
                    #df[rolestr_cl]=2
                    
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
        else:
            playersrole = 'player'+str(playernum)+'role'
            role = df[playersrole]
            rolestr= 'team2'+str(role)
            df[rolestr]=champid
            rolestr_cw = rolestr+'_cw' # wins on that champion
            rolestr_cl= rolestr+'_cl'# losses on that champion
            rolestr_cwp= rolestr+'_cwp'# win percentage on that champion
            rolestr_ow= rolestr+'_ow' # wins on all champions
            rolestr_ol= rolestr+'_ol' #losses on all champions
            rolestr_owp= rolestr+'_owp' # overall win percentage
            rolestr_cpp= rolestr+'_cpp' #percentage of games played as that champion
            if len(champskill[champskill['summoner_id']==playerid]) ==0: # we don't know about this user
                df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                df[rolestr_ow]=champskill[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=champskill[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            else:
                skilldf = champskill[champskill['summoner_id']==playerid]
                try:
                    df[rolestr_cw]=skilldf[str(int(champid))+'W'].mean()
                    df[rolestr_cl]=skilldf[str(int(champid))+'L'].mean()
                    #if df[rolestr_cw].isnull():
                    #    df[rolestr_cw]=champskill[str(int(champid))+'W'].mean()
                    #if df[rolestr_cl].isnull():
                     #   df[rolestr_cl]=champskill[str(int(champid))+'L'].mean()
                except:
                    pass
                    #df[rolestr_cw]=1
                    #df[rolestr_cl]=2
                
                df[rolestr_ow]=skilldf[str('AllW')].mean() # this is most frustrating part of my data. By imputing this based on the average, Im making players more or less skilled than they are)
                df[rolestr_ol]=skilldf[str('AllL')].mean()
                df[rolestr_cwp]= (df[rolestr_cw])/(df[rolestr_cw]+df[rolestr_cl])
                df[rolestr_owp]= (df[rolestr_ow])/(df[rolestr_ow]+df[rolestr_ol])
                df[rolestr_cpp]= (df[rolestr_cw]+df[rolestr_cl])/(df[rolestr_ow]+df[rolestr_ol])
            
    return df

In [159]:
skilledver3= matches.apply(dataprep3, axis=1)

In [160]:
skilledver3.to_csv('matches_no_impute.csv')